@use 'sass:color';

$font-color-dark: rgb(32, 32, 32);
$font-color-med-dark: rgb(64, 64, 64);
$font-color-med: rgb(96, 96, 96);
$font-color-med-light: rgb(128, 128, 128);
$font-family: 'Courier New';

$primary-color: #2c3639;
$primary-color-med-light: color.scale($primary-color, $lightness: 40%);
$primary-color-light: color.scale($primary-color, $lightness: 70%);
$secondary-color: #3f4e4f;
$tertiary-color: #76c9cf;
// #a27b5c
