@import 'variables.scss', 'cards.scss';

body {
  font-size: 1.5vw;
  background-color: $primary-color-med-light;
  color: $font-color-med-dark;
  font-family: $font-family;
}

header {
  display: flex;
  position: sticky;
  top: 0px;
  left: 0px;
  margin: 0;
  padding-left: 70px;
  padding-top: 20px;
  padding-bottom: 20px;
  // background-color: $primary-color-light;
  h1 {
    padding: 0;
    margin: 0;
    font-weight: normal;
    font-size: 3rem;
    color: $font-color-dark;
  }
  h3 {
    font-weight: normal;
    padding-top: 10px;
    align-self: baseline;
    font-size: 1rem;
    color: $font-color-med;
  }
}

.cardContainer {
  display: grid;
  grid-template-columns: repeat(5, 0.2fr);
  grid-template-rows: repeat(10, 15rem);
}

.fw-bold {
  color: $font-color-med-dark;
}
